<div class="edit_book">
  <h1>Editing Book</h1>
    <% if @book.errors.any? %>
    <div class="error_pop">
      <% if @book.errors.count==1 %>
        <p class="error_p"><%= @book.errors.count %>&nbsp;error prohibited this book from being saved:</p>
      <% else %>
        <p class="error_p"><%= @book.errors.count %>&nbsp;errors prohibited this book from being saved:</p>
      <% end %>
      <ul class="error_ul">
        <% @book.errors.full_messages.each do |message| %>
          <li class="error_li"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
    <div class="edit_p">
      <p>Title</p>
      <%= f.text_field :title %>
    </div>
    <div class="edit_p">
      <p>Body</p>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Update Book' %>
  <% end %>
  <div class="edit_link">
    <ul>
      <li><%= link_to "Show", book_path(@book.id), class: "botton" %></li>
      <li><%= link_to "Back", "/books", class: "botton" %></li>
    </ul>
  </div>
</div>